glmark2
joystick
software-properties-common
ignition-fortress
libgl1-mesa-dri
libglx-mesa0
libqt5svg5
libepoxy-dev
libopencv-dev
libboost-system-dev
libboost-thread-dev
libboost-chrono-dev
libboost-filesystem-dev
libboost-program-options-dev
wayland-protocols
mesa-utils
ninja-build
python3
python3-pip
python3-setuptools
python-is-python3
sudo
tree
qt5-image-formats-plugins
qt5-qmltooling-plugins
qml-module-qtquick-controls2 
qml-module-qtquick-dialogs