<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nomeer_robot">
  <gazebo reference="rear_left_wheel_link">
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="rear_right_wheel_link">
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="front_left_wheel_link">
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="front_right_wheel_link">
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="steering_front_left_link">
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="steering_front_right_link">
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find roboracer_controller)/config/nomeer_controller.yaml</parameters>
    </plugin>
  </gazebo>
</robot>